language: python
sudo: false
python:
  - "3.6"
  - "3.7-dev"
  - "nightly"
env:
  - LOOP=asyncio
#  - LOOP=uvloop
install:
  - if [[ "$LOOP" != "asyncio" ]]; then pip install $LOOP; fi;
  - pip install .
  - pip install -r requirements.txt
script:
  - python3 tests/pool_test.py 

